---
layout: layout.njk
permalink:
  dynamic: "/"
---
<form action="/">
  <label>
    Url:
    <input type="url" name="url" required value="{{ eleventy.serverless.query.url }}">
  </label>
  <button type="submit">Go</button>
</form>

{% if eleventy.serverless.query.url %}
  <h2>IndieWeb Avatar</h2>
  {% set indieavatarUrl %}https://v1.indieweb-avatar.11ty.dev/{{ eleventy.serverless.query.url | urlencode }}/medium/{% endset %}
  <p>
    <code>{{ indieavatarUrl }}</code>
  </p>
  <img src="{{ indieavatarUrl }}" alt="Indieweb Avatar for {{ eleventy.serverless.query.url }}">

  <h2>Screenshot (Small size)</h2>
  {% set screenshotSmallUrl %}https://v1.screenshot.11ty.dev/{{ eleventy.serverless.query.url | urlencode }}/small/{% endset %}
  <p>
    <code>{{ screenshotSmallUrl }}</code>
  </p>
  <img src="{{ screenshotSmallUrl }}" alt="Screenshot of {{ eleventy.serverless.query.url }}">

  <h2>Screenshot (Medium size)</h2>
  {% set screenshotMediumUrl %}https://v1.screenshot.11ty.dev/{{ eleventy.serverless.query.url | urlencode }}/medium/{% endset %}
  <p>
    <code>{{ screenshotMediumUrl }}</code>
  </p>
  <img src="{{ screenshotMediumUrl }}" alt="Screenshot of {{ eleventy.serverless.query.url }}">

  <h2>Screenshot (OpenGraph image size)</h2>
  {% set screenshotOgUrl %}https://v1.screenshot.11ty.dev/{{ eleventy.serverless.query.url | urlencode }}/opengraph/{% endset %}
  <p>
    <code>{{ screenshotOgUrl }}</code>
  </p>
  <img src="{{ screenshotOgUrl }}" alt="Opengraph sized Screenshot of {{ eleventy.serverless.query.url }}">

  <h2>Opengraph Image</h2>
  {% set ogUrl %}https://v1.opengraph-image.11ty.dev/{{ eleventy.serverless.query.url | urlencode }}/medium/{% endset %}
  <p>
    <code>{{ ogUrl }}</code>
  </p>
  <img src="{{ ogUrl }}" alt="Opengraph image for {{ eleventy.serverless.query.url }}">
{% endif %}
