<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>Eleventy API Explorer</title>
		<style>
		body {
			font-family: system-ui, sans-serif;
		}
		input,
		button {
			font-family: inherit;
		}
		input {
			min-width: 18em;
		}
		details {
			margin-bottom: 2em;
		}
		a[href],
		a[href]:visited {
			color: inherit;
		}
		summary {
			margin-bottom: .5em;
		}
		p:last-child {
			margin-bottom: 0;
		}
		form {
			padding: 1em;
			border: 2px solid #000;
			border-radius: .3em;
		}
		code {
			word-break: break-all;
		}

		.header-logo {
			width: 0.8125em; /* 13px /16 */
			height: 0.8125em; /* 13px /16 */
			border-radius: 0.8125em; /* 13px /16 */
			vertical-align: baseline;
			margin-right: .25em;
		}

		.demo {
			padding: 1em;
			border: 2px solid lightblue;
			border-bottom: 0;
			border-radius: .3em .3em 0 0;
		}
		.demo img {
			max-width: 100%;
			height: auto;
		}
		.demo.demo + pre {
			margin-top: 0;
			border: 2px solid lightblue;
			border-top: 0;
			border-radius: 0 0 .3em .3em;
			background-color: transparent;
		}
		</style>
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-solarizedlight.css" rel="stylesheet" media="print" onload="this.media='all'">
		<noscript>
			<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-solarizedlight.css" rel="stylesheet">
		</noscript>
	</head>
	<body>
		{% set eleventyLogoUrl %}https://v1.indieweb-avatar.11ty.dev/{{ "https://www.11ty.dev/" | urlencode }}/{% endset %}
		<header>
			<h1><a href="/"><img src="{{ eleventyLogoUrl }}" alt="Eleventy Logo" width="60" height="60" class="header-logo">Eleventy API Explorer</a></h1>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>